#Excersise 3
.three-column-content-block-content-block
  %h1= headline
  %p #{type} content block
  %p Find this template at /Users/madipallynaveenkumar/projects/my-store/app/views/workarea/storefront/content_blocks/_three_column_content_block.html.haml
