#threecolumncontentblock.style-guide__subsection

  %h3= link_to_style_guide('components', 'threecolumncontentblock')

  %p threecolumncontentblock Description


  .style-guide__example-block
    %span.example

  .style-guide__unit-test
    %h4 Unit Test

    %p should work with <code>example</code> elements
    .style-guide__example-block
      %span.example-class

    %p should work with <code>example</code> elements
    .style-guide__example-block
      %span.example-class

